* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	background-color: #f0f0f0;
}

header {
	display: flex;
	margin: 1rem;
	flex-direction: column;
}

.main-title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.search {
	width: 100%;
	height: 2rem;
}

#directory {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem;
}

.card {
	display: flex;
	width: 100%;
	background-color: #fff;
	border: 1px solid gray;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	margin: 1rem 0;
	padding: 1rem;
	cursor: pointer;
}

.avatar {
	width: 125px;
	border-radius: 50%;
	object-fit: cover;
	padding: .5rem;
}

.text {
	margin-left: .5rem;
	font-size: 75%;
	margin-top: auto;
	margin-bottom: auto;
}

/*modal*/
.overlay {
	position: absolute;
	top: -40px;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(100, 100, 100, .4);
	height: 100vh;
}

.modal {
	width: 375px;
	margin: 15% auto auto;
	position: relative;
	text-align: center;
	background: #fff;
	border: 1px solid #778;
	border-radius: 5px;
	padding: 30px 20px;
}

.modal-close {
	position: absolute;
	right: 15px;
	top: 5px;
	cursor: pointer;
	border: none;
	background-color: #fff;
	font-weight: 600;
}

.arrow {
	font-size: 4rem;
	color: #fff;
	cursor: pointer;
}

.right {
	position: absolute;
	top: 50%;
	right: -70px;
	transform: translateY(-50%);
}

.left {
	position: absolute;
	top: 50%;
	left: -70px;
	transform: translateY(-50%);
}

.avatar-modal {
	width: 40%;
}

.text-container *:not(.name) {
	color: gray;
	font-weight: 300;
	line-height: 2;
	font-size: 85%;
	position: relative;
}

.city {
	margin-bottom: 10px;
}

.phone {
	margin-top: 10px;
}

.hidden {
	display: none;
}

@media (min-width: 768px) {
	header {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 2rem;
	}

	.input {
		width: 50%;
		text-align: right;
	}

	.search {
		width: 100%;
		max-width: 400px;
	}

	.card {
		width: 45%;
		margin: 1rem;
	}

	.text {
		font-size: 80%;
	}
}

@media (min-width: 1260px) {
	.card {
		width: 30%;
	}
}
